.main-home {
  
  padding: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #165A7A;
  font-size: 18px;
}

h4 {
    font-size: 20px;
    


}


.container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #e3e3e3;
  padding: 30px;
  margin-top: 10px;
  gap: 15px;
  color: #165A7A;
}
.container div {
  background-color: #ffffff;
  border-radius: 10px;
  font-size: 30px;
  
}

.container2 {
  display: grid;
  border-radius: 40px;
  grid-template-columns: auto auto;
  background-color: #333333;
  padding: 20px;
  margin-top: 10px;
  gap: 5px;
  color: #ffffff;
  
}
.container2 div {
  
  font-size: 14px;
  text-align: start;
  padding-left: 20px;
  padding-top: 10px;
}

.img-test {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}   


.service-intro {
  font-size: 18px;
  
  
  margin-top: 20px;
  padding: 30px;
  color: #165A7A;
}

.service-content {

    padding: 30px;
    
}