.backColor {
    display: block;
    
    background-color: #0f172a;
    
    height: auto;
    width: 100%;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    box-sizing: border-box;
}

.mainFoot {
    display: flex;
    width: 100%;
    
    justify-content: space-between;
    align-items: start;
    
    padding-bottom: 20px;
} 

.firstFoot {
    
    padding-top: 10px;
}



.subMainFoot {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    text-align: left;
    color: white;
}   


.redes {

    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 10px;
}

.mainFoot2 {
    display: flex;
    width: 100%;

    justify-content: space-between;

    align-items: center;
    padding: 0 50px 0 0;
    margin-top: 20px;
    padding-bottom: 20px;
    color: white;
}


.imgSize {

    height: 36px;
    width: 33px;
    margin: 0 0 0 0px;
    padding-top: 10px;
}


.yButton {
    background-color: #F39C12;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
    width: 150px;
    text-align: center;
}

.ulFoot {
    display: flex;
    justify-content: start;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.ulFoot li a {
  display: block;
  color: white;
  text-align: left;
    padding: 8px 16px;
  text-decoration: none;
}

.ulFoot li a:hover {
  
  
  color: #F39C12;
}

input[type="text"] {
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    width: 200px;
    border: none;
    border-radius: 4px;
}

.copyright{

    display: block;
    width: 100%;
}