.menu-logo {
  width: 100%;
  display: block;
  text-align: left;
  height: 100%;
  padding: 0em;

}

.casa {

    height: 20px;
    width: 26px;
    margin: 0 10px;
}

nav {
    display: flex;
    z-index: 15;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 7px;
    padding-top: 13px;
   
    background-color: #0f172a;
    color: #FFFFFF;
    font-weight: bold;

   }


nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  
  
  display: flex;
  flex-direction: row;
  padding-right: 50px;
  color: white;
}


.ulNav li {
  margin-left: 20px;

}

.ulNav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 8px;
  text-decoration: none;
}

.ulNav li a:hover {
  
  color: #F39C12;
}


.bgImg {
  height: auto;
  width: 100%;
  background-color: black;
  opacity: 1;
}

.bgImg h2 {
    color: white;
    text-align: center;
    position: absolute;
    width: 100%;
    top: 350px;
    font-size: 2rem;
    z-index: 2;
}


.iotLogos {
    height: 60px;
    width: 210px;
    margin: 0 0 0 0px;
    padding-left: 30px;
}

.imagenen-fondo {
    width: 100%;
    height: auto;
    opacity: 0.8;
}

